.home-container {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
   
}

.home-content {
    padding-top: 80px; 

}

.text-title {
    font-size: 38px;
    line-height: 50px;
    letter-spacing: -0.015em;
}

.text-subtitle {
    color: #9E9E9E;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.015em;
    margin-top: 30px;
    margin-bottom: 100px;
}

.home-text {
    padding-left: 100px;
}

.main-image {
    width: 80%;
}